/* 伪元素选择器 */
/* 元素前面 */
div::before {}

/* 元素末尾 */
/* 清除浮动
 在末尾添加内容为空的块级伪元素 */
div::after {
    content : '';
    display : block;
    clear   : both;
}

/* 首个字母 */
p::first-letter {}

/* 首行 */
p::first-line {}