/* 伪类选择器 */
/* 结构性伪类 */
ul > li:first-child {}

ul > li:last-child {}

/* ul 的偶数子节点中的 li  */
ul > li:nth-child(2n) {}

ul > li:nth-child(2n+1) {}

/* ul 的 li 中的偶数子节点 */
ul > li:nth-of-type(2n) {}

ul > li:nth-of-type(2n+1) {}

/* UI 伪类 */
/* 禁用 */
input:disabled {}

/* 可用 */
input:enabled {}

/* 选中 */
input:checked {}

/* 必选 */
input:required {}

/* 可选 */
input:optional {}

/* 默认 */
input:default {}

/* 动态伪类 */
/* 未访问链接 */
a:link {}

/* 鼠标悬停 */
a:hover {}

/* 鼠标点击未松开 */
a:active {}

/* 已访问链接 */
a:visited {}

/* 聚焦 */
input:focus {}