@charset "UTF-8";
/* 
网页的初始化样式
 */
/* 清除元素默认的内外边距 */
* {
  margin: 0;
  padding: 0;
}

/* 主体背景颜色，字体，字体颜色 */
html {
  background-color: #e5fff9;
  font: normal 400 10px Helvetica, Arial, 'Segoe UI', \\5B8B\4F53, sans-serif;
  color: #000;
}

/* 盒子模型以边框为界计算盒子大小 */
* {
  box-sizing: border-box;
}

/* 合并相邻表格单元格的边框 */
table,
td {
  border-collapse: collapse;
}

/* 列表项的符号 */
li {
  list-style-type: none;
}

/* 将图片由基线对齐改为中线对齐，去掉底部的缝隙 */
img {
  vertical-align: middle;
}

/* 将按钮的鼠标变为小手 */
button {
  cursor: pointer;
}

/* 取消按钮和输入表单外轮廓线 */
button,
input {
  outline: none;
}

/* 取消链接的下划线 */
a {
  color: #0080ff;
  text-decoration: none;
}

/* 鼠标悬停链接上时变为红色 */
a:hover {
  color: #f00;
}

/* 不生成隐藏元素 */
.hide,
.none {
  display: none;
}

/* 通过伪元素，在末尾插入内容为空的块级元素
用于清除浮动 */
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

body {
  width: 50rem;
  font-size: 1.6rem;
  margin: 0 auto;
}

* {
  padding: 0.1rem;
}

.activeLi, .activeArticle {
  z-index: 1;
  background-color: #00664d;
  color: #fff;
  font-weight: bold;
}

.nav {
  border: 2px solid #0080ff;
  position: relative;
}
.nav ul li {
  float: left;
  position: relative;
  width: 5em;
}
.nav ul li .remove {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  font-size: 1rem;
}
.nav .add {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  font-size: 1rem;
}

.content {
  position: relative;
}
.content article {
  position: absolute;
  width: 100%;
  height: 10em;
}
