<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Title</title>
    <script src='../vue.js'></script>
    <!-- <script src='watch.js' defer></script> -->
    <!-- <script src='computed.js' defer></script> -->
    <script src='main.js' defer></script>
</head>
<body>
<div id='root'>
    <input type='text' v-model='keyWord' placeholder='请输入关键字'>
    <button @click='sortType=2'>升序</button>
    <button @click='sortType=1'>降序</button>
    <button @click='sortType=0'>原序</button>
    <ul>
        <li v-for='item of res' :key='item.id'>
            {{ item.name + item.age }}
        </li>
    </ul>
</div>
</body>
</html>