@import '../basic.css';

#app {
  margin-top  : 2em;
  margin-left : 5em;
  display     : flow-root;
}

div {
  position : relative;
  width    : 10em;
  height   : 20em;
  float    : left;
  overflow : hidden;
}

img {
  &:first-child {
    width  : 100%;
    height : 100%;
  }

  &:last-child {
    width  : 200%;
    height : 200%;
  }
}

.small {
  position : absolute;
  top      : 0;
  left     : 0;
}

.mask {
  width            : 5em;
  height           : 10em;
  background-color : #ff45;
  position         : absolute;
  top              : 0;
  left             : 0;
  display          : none;
}

.big {
  position : absolute;
  top      : 0;
  left     : 0;
  overflow : hidden;
  display  : none;
}