@charset "UTF-8";
/* 
网页的初始化样式
 */
/* 清除元素默认的内外边距 */
* {
  margin: 0;
  padding: 0;
}

/* 主体背景颜色，字体，字体颜色 */
html {
  background-color: #e5fff9;
  font: normal 400 10px Helvetica, Arial, 'Segoe UI', \\5B8B\4F53, sans-serif;
  color: #000;
}

/* 盒子模型以边框为界计算盒子大小 */
* {
  box-sizing: border-box;
}

/* 合并相邻表格单元格的边框 */
table,
td {
  border-collapse: collapse;
}

/* 列表项的符号 */
li {
  list-style-type: none;
}

/* 将图片由基线对齐改为中线对齐，去掉底部的缝隙 */
img {
  vertical-align: middle;
}

/* 将按钮的鼠标变为小手 */
button {
  cursor: pointer;
}

/* 取消按钮和输入表单外轮廓线 */
button,
input {
  outline: none;
}

/* 取消链接的下划线 */
a {
  color: #0080ff;
  text-decoration: none;
}

/* 鼠标悬停链接上时变为红色 */
a:hover {
  color: #f00;
}

/* 不生成隐藏元素 */
.hide,
.none {
  display: none;
}

/* 通过伪元素，在末尾插入内容为空的块级元素
用于清除浮动 */
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-size: 2rem;
}
body .tab {
  position: fixed;
  left: 0;
  width: 60%;
}
body .tab ul {
  display: flex;
  margin-bottom: 0.5rem;
}
body .tab ul li {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
}
body .tab ul li:hover {
  background-color: #00664d;
  color: #fff;
}
body .tab ul .activeLi {
  background-color: #00664d;
  color: #fff;
}
body .tab .panel {
  position: relative;
}
body .tab .panel article {
  position: absolute;
  width: 100%;
  height: 10rem;
}
body .tab .panel .activeArticle {
  z-index: 1;
  background-color: #00664d;
  color: #fff;
}
body .scroll {
  position: absolute;
  right: 0;
  width: 30%;
  background-color: #00664d;
}
body .scroll p {
  line-height: 3em;
  font-size: 2em;
  color: #fff;
}
body .scroll .sticky {
  position: sticky;
  top: 20%;
}
body .slide label {
  position: fixed;
  z-index: 1;
  right: 1rem;
  font-size: 4rem;
}
body .slide input[type=checkbox] {
  position: fixed;
  top: -10rem;
}
body .slide aside {
  position: fixed;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  padding: 0.5rem;
  top: 50%;
  right: -8em;
  width: 8em;
  background-color: red;
}
body .slide input[type=checkbox]:checked + aside {
  right: 0;
}
