<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="#" rel="shortcut icon"/>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="main.js" defer></script>
    <title>index</title>
</head>
<body>

<div id="root">
    <form @submit.prevent="demo">
        <label for="account">账号：</label>
        <input type="text" placeholder="请输入用户名" id="account"
               v-model.trim="userInfo.account"><br>
        <label for="password">密码：</label>
        <input type="password" id="password"
               placeholder="请输入密码" v-model="userInfo.password"><br>
        <label for="age">年龄：</label>
        <input type="number" id="age" placeholder="请输入年龄"
               v-model.number="userInfo.age"><br>

        性别：<label for="male">男</label>
        <input type="radio" name="sex" id="male" v-model="userInfo.sex"
               value="male">
        <label for="female">女</label>
        <input type="radio" name="sex" id="female" v-model="userInfo.sex"
               value="female">
        <br>

        爱好：<label for="smoke">抽烟</label>
        <input type="checkbox" name="hobby" id="smoke" value="smoke"
               v-model="userInfo.hobby">
        <label for="drink">喝酒</label>
        <input type="checkbox" name="hobby" id="drink" value="drink"
               v-model="userInfo.hobby">
        <label for="drive">开车</label>
        <input type="checkbox" name="hobby" id="drive" value="drive"
               v-model="userInfo.hobby"><br>

        所属地区：
        <select id="region" v-model="userInfo.region">
            <option value="beijing">北京</option>
            <option value="nanjing">南京</option>
        </select> <br>

        <label for="others">其他信息：</label>
        <textarea id="others" cols="30" rows="10"
                  placeholder="输入内容不能为空"
                  v-model.lazy="userInfo.others"></textarea><br>

        <input type="checkbox" id="agree" v-model="userInfo.agree">
        <label for="agree">阅读并接受</label><a href="#">《用户协议》</a><br>

        <button type="submit">提交</button>
    </form>
</div>

</body>
</html>