@import '../_basic.scss';

body {
    font-size: 2rem;

    .tab {
        position: fixed;
        left: 0;
        width: 60%;

        ul {
            display: flex;
            margin-bottom: 0.5rem;

            li {
                flex: 1;
                text-align: center;
                font-weight: bold;
                padding: 0.5rem;

                &:hover {
                    background-color: $title-color;
                    color: #fff;
                }
            }

            .activeLi {
                background-color: $title-color;
                color: #fff;
            }
        }

        .panel {
            position: relative;

            article {
                position: absolute;
                width: 100%;
                height: 10rem;
            }

            .activeArticle {
                z-index: 1;
                background-color: $title-color;
                color: #fff;
            }
        }
    }

    .scroll {
        position: absolute;
        right: 0;
        width: 30%;
        background-color: $title-color;

        p {
            line-height: 3em;
            font-size: 2em;
            color: #fff;
        }

        .sticky {
            position: sticky;
            top: 20%;
        }
    }

    .slide {

        label {
            position: fixed;
            z-index: 1;
            right: 1rem;
            font-size: 4rem;
        }

        input[type=checkbox] {
            position: fixed;
            top: -10rem;
        }

        aside {
            position: fixed;
            font-size: 3rem;
            font-weight: bold;
            color: #fff;
            padding: 0.5rem;
            top: 50%;
            right: -8em;
            width: 8em;
            background-color: red;
        }

        input[type=checkbox]:checked+aside {
            right: 0;
        }
    }
}