@import '../_basic.scss';

body {
  header {
    position: relative;

    h1 {
      font-size: 3rem;
      text-align: center;
      text-shadow: 3px 3px 3px #00664d;
      padding: 1em;
    }

    img {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 10%;
    }
  }

  main {
    .para {
      display: flex;

      iframe {
        flex: 1;
      }

      .text {
        flex: 1;

        h2 {
          font-size: 2rem;
          text-align: center;
          padding: 0.5em;
        }

        p {
          font-size: 1.5rem;
          padding: 0.5em;
        }
      }
    }

    .images {
      background-color: $border-color;
      padding: 0.5rem;
      border: 2px solid #fff;

      img {
        float: left;
        width: 25%;
      }
    }

    .picture {
      img {
        width: 100%;
      }
    }
  }
}