/* 
网页的初始化样式
 */
$background-color: #C7EDCC;
$title-color: #00664d;
$border-color: #880088;

/* 清除元素默认的内外边距 */
* {
  margin: 0;
  padding: 0;
}

/* 盒子模型以边框为界计算盒子大小 */
* {
  box-sizing: border-box;
}

/* 主体背景颜色，字体，字体颜色 */
html {
  background-color: $background-color;
  font: normal 400 10px 'Segoe UI',
  Helvetica,
  Arial,
  \\5B8B\4F53, sans-serif;
}

/* 合并相邻表格单元格的边框 */
table,
td {
  border-collapse: collapse;
}

/* 列表项的符号 */
li {
  list-style-type: none;
}

/* 将图片由基线对齐改为中线对齐，去掉底部的缝隙 */
img {
  vertical-align: middle;
}

/* 将按钮的鼠标变为小手 */
button {
  cursor: pointer;
}

/* 取消按钮和输入表单外轮廓线 */
button,
input {
  outline: none;
}

/* 取消链接的下划线 */
a {
  color: $border-color;
  text-decoration: none;
}

/* 鼠标悬停链接上时变为红色 */
a:hover {
  color: $title-color;
}

/* 不生成隐藏元素 */
.hide,
.none {
  display: none;
}

/* 通过伪元素，在末尾插入内容为空的块级元素
用于清除浮动 */
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}